







hr {
    border-color: black;
    opacity: 0.2;
    width: 100%;
    margin-bottom: 1rem ;
}

.date-tags {
    margin-bottom: 1rem;
    font-size: .8rem;
}

p { 
    margin-bottom: .5rem;
}

section a {
    justify-self: flex-end;
}


h3, h2 {
    margin-bottom: 0.5rem;
}

#intro {
    margin-bottom: 3rem;
}

#intro h1 {
    margin-bottom: 1rem;
}


.featured-posts .card {
    background-color: #e4e0e0;
}



#intro {
    padding: 2rem 0;
}

nav {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

nav ul {
    background-color: var(--accent-color-1);
    text-align: center; /* Align text to the left for better readability */
    margin: 1rem 0; /* Add margin for better spacing */
    list-style-type: none;
    width: 100%;
}

nav li, nav li a {
    width: 100%;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-decoration: none;
}

#available {
    color: darkgreen;
}

section img {
    width: 70%;
}



/*----------- FOOTER STYLE --------------*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-top: 2px solid rgb(0 0 0 / .3);
    text-align: center;
    color: #000;
}

ul {
    list-style: none;
}

.footer-socials, .footer-socials ul {
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-socials .socials-content {
    margin: 0 10px;
    position: relative;
}

.footer-socials .socials-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.footer-socials .socials-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.footer-socials .socials-content .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.footer-socials .socials-content .link:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.footer-socials .socials-content .link img {
    width: 30px;
    height: 30px;
}
